version: '2'
services:
  redis:
    image: redis@sha256:db01931cfb4f86d0bb076f0744dae4ebe50f6b1cabcacaa0c6da685b8ad037e5
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
  postgres:
    image: postgres:18@sha256:9b5bd946f3a507db72c55959700e517463e8d5dbb6f7eb30d920d5bcf6951431
    ports:
      - "${PGPORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_USER: "${PGUSER}"
      POSTGRES_PASSWORD: "${PGPASSWORD}"
      POSTGRES_DB: "${PGDATABASE}"

volumes:
  postgres_data: {}
  redis_data: {}
