name: tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          cache: yarn
          node-version-file: package.json
      - run: yarn --immutable
      - run: yarn lint --max-warnings=0
      - name: Check if barrels are up to date
        run: yarn ctix && [ -z "$(git status --porcelain)" ]
      - run: yarn test --coverage
      - run: yarn integration --coverage
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
          flags: unittest
          fail_ci_if_error: true
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage-integration
          flags: integration
          fail_ci_if_error: true
